@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .theme-green {
    background: #0089a7;
  }
  .theme-blue {
    background: #4b52f0;
  }
  .theme-blue2 {
    background: #7db9de;
  }
  .theme-blue {
    background: #a5dee4;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
